<a href="https://colab.research.google.com/github/bmt21409/bmt_pyson/blob/main/21409_9%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8]) 

print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [7]:
type([])

list

In [38]:
dates = pd.date_range('20210430', periods=6)

print(type(dates))
print(dates)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [40]:
np.random.randn(6,4)

array([[-0.47421525, -0.76682373, -0.86147466,  2.45486916],
       [-0.7769142 ,  1.50805319,  0.22440695, -1.37466231],
       [-0.19073187,  0.11460914,  1.0115957 , -1.40466076],
       [ 0.01104934,  0.25539138, -1.77951748,  2.02713138],
       [-1.05517267,  0.11410557,  0.11027736, -1.18139211],
       [ 0.35841936,  0.24084669, -0.24293455,  2.36761195]])

In [41]:

df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210430'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

print(type(df2))
print(df2)
df2

<class 'pandas.core.frame.DataFrame'>
     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [42]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [43]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [44]:
df.head()

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045

In [45]:
df.tail()

                   A         B         C         D
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [46]:
df.tail(5)

                   A         B         C         D
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [47]:
df.head(8)

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [48]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [50]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [51]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [52]:
df.values

array([[ 0.35202074, -2.20326527, -1.316091  ,  1.60713763],
       [-1.13799584,  0.89036468,  0.02608373,  0.02003216],
       [ 0.09411246,  0.56532167,  0.09221757, -2.48027644],
       [-0.955251  , -0.74242204, -1.49076179, -0.30121845],
       [ 0.9954784 , -1.08485813, -0.29136356,  0.68504486],
       [ 0.34445359, -0.03725875,  2.2037306 ,  1.67197465]])

In [55]:
df.T ##행과 열이 바뀜

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.352021   -1.137996    0.094112   -0.955251    0.995478    0.344454
B   -2.203265    0.890365    0.565322   -0.742422   -1.084858   -0.037259
C   -1.316091    0.026084    0.092218   -1.490762   -0.291364    2.203731
D    1.607138    0.020032   -2.480276   -0.301218    0.685045    1.671975

In [56]:
print(df.sort_index(axis=0, ascending=True))

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [59]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [61]:

print(df.sort_index(axis=0, ascending=False))

                   A         B         C         D
2021-05-05  0.344454 -0.037259  2.203731  1.671975
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-04-30  0.352021 -2.203265 -1.316091  1.607138

In [65]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [66]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [67]:
df.sort_values(by='B')

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-05  0.344454 -0.037259  2.203731  1.671975
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-01 -1.137996  0.890365  0.026084  0.020032

In [68]:

df.sort_values(by='B')

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-05  0.344454 -0.037259  2.203731  1.671975
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-01 -1.137996  0.890365  0.026084  0.020032

In [69]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [70]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [72]:
df["A"]

2021-04-30    0.352021
2021-05-01   -1.137996
2021-05-02    0.094112
2021-05-03   -0.955251
2021-05-04    0.995478
2021-05-05    0.344454
Freq: D, Name: A, dtype: float64

In [73]:
df["B"]

2021-04-30   -2.203265
2021-05-01    0.890365
2021-05-02    0.565322
2021-05-03   -0.742422
2021-05-04   -1.084858
2021-05-05   -0.037259
Freq: D, Name: B, dtype: float64

In [74]:
df["C"]

2021-04-30   -1.316091
2021-05-01    0.026084
2021-05-02    0.092218
2021-05-03   -1.490762
2021-05-04   -0.291364
2021-05-05    2.203731
Freq: D, Name: C, dtype: float64

In [75]:
df["D"]

2021-04-30    1.607138
2021-05-01    0.020032
2021-05-02   -2.480276
2021-05-03   -0.301218
2021-05-04    0.685045
2021-05-05    1.671975
Freq: D, Name: D, dtype: float64

In [77]:
df[   ['A' , "C"]  ]

                   A         C
2021-04-30  0.352021 -1.316091
2021-05-01 -1.137996  0.026084
2021-05-02  0.094112  0.092218
2021-05-03 -0.955251 -1.490762
2021-05-04  0.995478 -0.291364
2021-05-05  0.344454  2.203731

In [79]:
df[ ['A','B','C','D',] ]

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [82]:
df[0:3]

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276

In [83]:
df[0:1]

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138

In [85]:
df['20210430':'20210501']

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032

In [87]:
df['20210430':'20210430']

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138

In [88]:
df.loc[dates[0]]

A    0.352021
B   -2.203265
C   -1.316091
D    1.607138
Name: 2021-04-30 00:00:00, dtype: float64

In [92]:
df.loc['20210430']

A    0.352021
B   -2.203265
C   -1.316091
D    1.607138
Name: 2021-04-30 00:00:00, dtype: float64

In [93]:
df['A']

2021-04-30    0.352021
2021-05-01   -1.137996
2021-05-02    0.094112
2021-05-03   -0.955251
2021-05-04    0.995478
2021-05-05    0.344454
Freq: D, Name: A, dtype: float64

In [94]:
df.loc[:,['A','B']]

                   A         B
2021-04-30  0.352021 -2.203265
2021-05-01 -1.137996  0.890365
2021-05-02  0.094112  0.565322
2021-05-03 -0.955251 -0.742422
2021-05-04  0.995478 -1.084858
2021-05-05  0.344454 -0.037259

In [97]:
df.loc['20210430':'20210503',['A']]

                   A
2021-04-30  0.352021
2021-05-01 -1.137996
2021-05-02  0.094112
2021-05-03 -0.955251

In [98]:
df.loc['20210430':'20210503',['A','B','C']]

                   A         B         C
2021-04-30  0.352021 -2.203265 -1.316091
2021-05-01 -1.137996  0.890365  0.026084
2021-05-02  0.094112  0.565322  0.092218
2021-05-03 -0.955251 -0.742422 -1.490762

In [99]:
df.loc[dates[0], 'A']

0.35202074337626765

In [101]:
df.iloc[3]

A   -0.955251
B   -0.742422
C   -1.490762
D   -0.301218
Name: 2021-05-03 00:00:00, dtype: float64

In [102]:
df

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-03 -0.955251 -0.742422 -1.490762 -0.301218
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [103]:
df.loc[dates[3]]

A   -0.955251
B   -0.742422
C   -1.490762
D   -0.301218
Name: 2021-05-03 00:00:00, dtype: float64

In [105]:
df.iloc[3]

A   -0.955251
B   -0.742422
C   -1.490762
D   -0.301218
Name: 2021-05-03 00:00:00, dtype: float64

In [106]:
df.loc[dates[3]]

A   -0.955251
B   -0.742422
C   -1.490762
D   -0.301218
Name: 2021-05-03 00:00:00, dtype: float64

In [110]:
df.iloc[0:3,]

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-01 -1.137996  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218 -2.480276

In [112]:
df.A >0

2021-04-30     True
2021-05-01    False
2021-05-02     True
2021-05-03    False
2021-05-04     True
2021-05-05     True
Freq: D, Name: A, dtype: bool

In [113]:
df[df.A > 0]

                   A         B         C         D
2021-04-30  0.352021 -2.203265 -1.316091  1.607138
2021-05-02  0.094112  0.565322  0.092218 -2.480276
2021-05-04  0.995478 -1.084858 -0.291364  0.685045
2021-05-05  0.344454 -0.037259  2.203731  1.671975

In [114]:
print(df[df > 0]);print()

                   A         B         C         D
2021-04-30  0.352021       NaN       NaN  1.607138
2021-05-01       NaN  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218       NaN
2021-05-03       NaN       NaN       NaN       NaN
2021-05-04  0.995478       NaN       NaN  0.685045
2021-05-05  0.344454       NaN  2.203731  1.671975

In [117]:
df[df > 0]

                   A         B         C         D
2021-04-30  0.352021       NaN       NaN  1.607138
2021-05-01       NaN  0.890365  0.026084  0.020032
2021-05-02  0.094112  0.565322  0.092218       NaN
2021-05-03       NaN       NaN       NaN       NaN
2021-05-04  0.995478       NaN       NaN  0.685045
2021-05-05  0.344454       NaN  2.203731  1.671975