<a href="https://colab.research.google.com/github/bmt21409/bmt_pyson/blob/main/21509_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-14  0.643941  1.173239 -0.366353  0.024181
2021-05-15  2.173249  0.838348 -1.266536 -0.446157
2021-05-16 -1.609722  0.949268  1.138516 -1.468912
2021-05-17 -0.077989 -0.239116 -1.558163  1.068749
2021-05-18  0.114556 -0.636178  1.369699 -0.339155
2021-05-19 -0.336557  0.768569  1.092082 -0.857373

In [9]:
df.mean(1)

2021-05-14    0.368752
2021-05-15    0.324726
2021-05-16   -0.247712
2021-05-17   -0.201630
2021-05-18    0.127230
2021-05-19    0.166680
Freq: D, dtype: float64

In [10]:
df.mean()

A    0.151246
B    0.475688
C    0.068208
D   -0.336445
dtype: float64

In [11]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14  0.643941  1.173239 -0.366353  0.024181
2021-05-15  2.817190  2.011587 -1.632889 -0.421976
2021-05-16  1.207468  2.960855 -0.494373 -1.890889
2021-05-17  1.129479  2.721739 -2.052536 -0.822140
2021-05-18  1.244035  2.085561 -0.682837 -1.161295
2021-05-19  0.907477  2.854130  0.409245 -2.018668

In [13]:
df.apply(lambda x: x.max() - x.min())

A    3.782971
B    1.809417
C    2.927862
D    2.537661
dtype: float64

In [14]:
df.apply(lambda x: x.max() - x.min(), axis=0)

A    3.782971
B    1.809417
C    2.927862
D    2.537661
dtype: float64

In [15]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2021-05-14    1.539593
2021-05-15    3.439785
2021-05-16    2.748238
2021-05-17    2.626912
2021-05-18    2.005876
2021-05-19    1.949455
Freq: D, dtype: float64

In [20]:
s= pd. Series(np.random.randint(0,7, size = 10))
s

0    1
1    3
2    0
3    4
4    1
5    5
6    5
7    6
8    5
9    5
dtype: int64

In [21]:
s= pd. Series(np.random.randint(1,6, size = 6))
s

0    2
1    4
2    1
3    1
4    4
5    4
dtype: int64

In [22]:
s= pd. Series(np.random.randint(1,6, size = 6))
s.value_counts()

5    3
4    1
2    1
1    1
dtype: int64

In [23]:
s.value_counts()

5    3
4    1
2    1
1    1
dtype: int64

In [25]:
df - pd.DataFrame(np.random.randn(10,4))
df

                   A         B         C         D
2021-05-14  0.643941  1.173239 -0.366353  0.024181
2021-05-15  2.173249  0.838348 -1.266536 -0.446157
2021-05-16 -1.609722  0.949268  1.138516 -1.468912
2021-05-17 -0.077989 -0.239116 -1.558163  1.068749
2021-05-18  0.114556 -0.636178  1.369699 -0.339155
2021-05-19 -0.336557  0.768569  1.092082 -0.857373

In [26]:
df[:3]

                   A         B         C         D
2021-05-14  0.643941  1.173239 -0.366353  0.024181
2021-05-15  2.173249  0.838348 -1.266536 -0.446157
2021-05-16 -1.609722  0.949268  1.138516 -1.468912

In [27]:
df[3:7]

                   A         B         C         D
2021-05-17 -0.077989 -0.239116 -1.558163  1.068749
2021-05-18  0.114556 -0.636178  1.369699 -0.339155
2021-05-19 -0.336557  0.768569  1.092082 -0.857373

In [29]:
df[7:]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [30]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[                   A         B         C         D
 2021-05-14  0.643941  1.173239 -0.366353  0.024181
 2021-05-15  2.173249  0.838348 -1.266536 -0.446157
 2021-05-16 -1.609722  0.949268  1.138516 -1.468912,
                    A         B         C         D
 2021-05-17 -0.077989 -0.239116 -1.558163  1.068749
 2021-05-18  0.114556 -0.636178  1.369699 -0.339155
 2021-05-19 -0.336557  0.768569  1.092082 -0.857373,
 Empty DataFrame
 Columns: [A, B, C, D]
 Index: []]

In [32]:
pd. concat(pieces)

                   A         B         C         D
2021-05-14  0.643941  1.173239 -0.366353  0.024181
2021-05-15  2.173249  0.838348 -1.266536 -0.446157
2021-05-16 -1.609722  0.949268  1.138516 -1.468912
2021-05-17 -0.077989 -0.239116 -1.558163  1.068749
2021-05-18  0.114556 -0.636178  1.369699 -0.339155
2021-05-19 -0.336557  0.768569  1.092082 -0.857373

In [35]:
left = pd.DataFrame(
    {
    'key':['foo', 'foo'], 
    'lval': [1, 2]
    }
    )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [38]:
left

   key  lval
0  foo     1
1  foo     2

In [39]:
right

   key  rval
0  foo     4
1  foo     5

In [40]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [42]:
s = df. iloc[3]
s

A   -0.077989
B   -0.239116
C   -1.558163
D    1.068749
Name: 2021-05-17 00:00:00, dtype: float64

In [43]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.643941  1.173239 -0.366353  0.024181
1  2.173249  0.838348 -1.266536 -0.446157
2 -1.609722  0.949268  1.138516 -1.468912
3 -0.077989 -0.239116 -1.558163  1.068749
4  0.114556 -0.636178  1.369699 -0.339155
5 -0.336557  0.768569  1.092082 -0.857373
6 -0.077989 -0.239116 -1.558163  1.068749